/* purgecss start ignore */

@font-face {
	src: url('../webfonts/RationalTWDisplay-Medium/font.eot');
	font-weight: medium;
	font-style: normal;
	font-family: 'Rational TW Display';
	src: url('../webfonts/RationalTWDisplay-Medium/font.woff2') format('woff2'),
		url('../webfonts/RationalTWDisplay-Medium/font.woff') format('woff'),
		url('../webfonts/RationalTWDisplay-Medium/font.eot?#iefix') format('embedded-opentype'),
		url('../webfonts/RationalTWDisplay-Medium/font.ttf') format('truetype');
}

@font-face {
	src: url('../webfonts/Rational-Medium/font.eot');
	font-weight: medium;
	font-style: normal;
	font-family: 'Rational';
	src: url('../webfonts/Rational-Medium/font.woff2') format('woff2'),
		url('../webfonts/Rational-Medium/font.woff') format('woff'),
		url('../webfonts/Rational-Medium/font.eot?#iefix') format('embedded-opentype'),
		url('../webfonts/Rational-Medium/font.ttf') format('truetype');
}

@tailwind base;

* {
	@apply m-0 p-0;
}

svg, img {
	@apply locked;
}

svg {
	@apply fill-current;
}

h1, h2, h3, h4, h5, h6 {
	@apply font-secondary;
}

.group:hover .group-hover\:glitch,
.glitch:hover,
a:not(.unglitch):hover {
	@apply relative text-pink;
	animation: glitch-skew 1s infinite linear alternate-reverse;
}

.group:hover .group-hover\:glitch::before,
.glitch:hover::before,
a:not(.unglitch):hover::before {
	@apply absolute top-0 w-full h-full text-right;
	right: 1px;
	content: attr(data-text);
	text-shadow: -2px 0 theme('colors.teal');
	clip: auto;
	animation: glitch-anim 1s infinite linear alternate-reverse;
}

.group:hover .group-hover\:glitch::after,
.glitch:hover::after,
a:not(.unglitch):hover::after {
	@apply absolute top-0 w-full h-full text-right;
	right: 1px;
	content: attr(data-text);
	text-shadow: -2px 0 theme('colors.teal'), 2px 2px theme('colors.teal');
	animation: glitch-anim2 .5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
	0% { clip: rect(51px, 9999px, 55px, 0); transform: skew(0.05deg); }
	5% { clip: rect(6px, 9999px, 22px, 0); transform: skew(0.06deg); }
	10% { clip: rect(92px, 9999px, 38px, 0); transform: skew(0.26deg); }
	15% { clip: rect(66px, 9999px, 54px, 0); transform: skew(0.02deg); }
	20% { clip: rect(34px, 9999px, 4px, 0); transform: skew(0.02deg); }
	25% { clip: rect(78px, 9999px, 47px, 0); transform: skew(0.86deg); }
	30% { clip: rect(99px, 9999px, 48px, 0); transform: skew(0.21deg); }
	35% { clip: rect(14px, 9999px, 69px, 0); transform: skew(0.03deg); }
	40% { clip: rect(44px, 9999px, 27px, 0); transform: skew(0.1deg); }
	45% { clip: rect(42px, 9999px, 56px, 0); transform: skew(1deg); }
	50% { clip: rect(83px, 9999px, 84px, 0); transform: skew(0.89deg); }
	55% { clip: rect(6px, 9999px, 58px, 0); transform: skew(0.05deg); }
	60% { clip: rect(11px, 9999px, 67px, 0); transform: skew(0.47deg); }
	65% { clip: rect(79px, 9999px, 51px, 0); transform: skew(0.11deg); }
	70% { clip: rect(73px, 9999px, 91px, 0); transform: skew(0.81deg); }
	75% { clip: rect(32px, 9999px, 92px, 0); transform: skew(0.32deg); }
	80% { clip: rect(15px, 9999px, 82px, 0); transform: skew(0.6deg); }
	85% { clip: rect(45px, 9999px, 69px, 0); transform: skew(0.92deg); }
	90% { clip: rect(76px, 9999px, 54px, 0); transform: skew(0.67deg); }
	95% { clip: rect(97px, 9999px, 55px, 0); transform: skew(0.15deg); }
	100% { clip: rect(74px, 9999px, 74px, 0); transform: skew(0.98deg); }
}

@keyframes glitch-anim2 {
	0% { clip: rect(67px, 9999px, 31px, 0); transform: skew(0.96deg); }
	5% { clip: rect(49px, 9999px, 79px, 0); transform: skew(0.11deg); }
	10% { clip: rect(61px, 9999px, 78px, 0); transform: skew(0.3deg); }
	15% { clip: rect(97px, 9999px, 48px, 0); transform: skew(0.22deg); }
	20% { clip: rect(66px, 9999px, 49px, 0); transform: skew(0.42deg); }
	25% { clip: rect(50px, 9999px, 94px, 0); transform: skew(0.08deg); }
	30% { clip: rect(66px, 9999px, 55px, 0); transform: skew(0.24deg); }
	35% { clip: rect(54px, 9999px, 87px, 0); transform: skew(0.66deg); }
	40% { clip: rect(96px, 9999px, 98px, 0); transform: skew(0.97deg); }
	45% { clip: rect(16px, 9999px, 20px, 0); transform: skew(0.67deg); }
	50% { clip: rect(67px, 9999px, 47px, 0); transform: skew(0.87deg); }
	55% { clip: rect(82px, 9999px, 70px, 0); transform: skew(0.78deg); }
	60% { clip: rect(34px, 9999px, 32px, 0); transform: skew(0.24deg); }
	65% { clip: rect(71px, 9999px, 81px, 0); transform: skew(0.19deg); }
	70% { clip: rect(82px, 9999px, 76px, 0); transform: skew(0.32deg); }
	75% { clip: rect(97px, 9999px, 55px, 0); transform: skew(0.5deg); }
	80% { clip: rect(21px, 9999px, 67px, 0); transform: skew(0.03deg); }
	85% { clip: rect(97px, 9999px, 77px, 0); transform: skew(0.41deg); }
	90% { clip: rect(66px, 9999px, 6px, 0); transform: skew(0.65deg); }
	95% { clip: rect(19px, 9999px, 4px, 0); transform: skew(0.9deg); }
	100% { clip: rect(87px, 9999px, 50px, 0); transform: skew(0.52deg); }
}

@keyframes glitch-skew {
	0% { transform: skew(4deg); }
	10% { transform: skew(2deg); }
	20% { transform: skew(-1deg); }
	30% { transform: skew(-4deg); }
	40% { transform: skew(-3deg); }
	50% { transform: skew(-2deg); }
	60% { transform: skew(1deg); }
	70% { transform: skew(0deg); }
	80% { transform: skew(0deg); }
	90% { transform: skew(3deg); }
	100% { transform: skew(-3deg); }
}

.sidebar {
	background: url('../img/glitch-sm.png') right 12% / 80% no-repeat,
		url('../img/glitch-sm.png') right 34% / 80% no-repeat,
		url('../img/glitch-sm.png') right 60% / 80% no-repeat
}

.main {
	background: url('../img/glitch-vert.png') 5% 50% no-repeat;
}

@screen lg {
	.main { background-position-x: 15%; }
}

@screen xl {
	.main { background-position-x: 20%; }
}

/* purgecss end ignore */

@tailwind utilities;

.locked {
	user-select: none;
	pointer-events: none;
}
